* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-width: 0;
  min-height: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: 0.95rem;
  color: var(--first-color);
  background-color: var(--background-color);
}

header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4 {
  font-weight: var(--semi-bold);
  color: var(--title-color);
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

ul {
  list-style: none;
}

.section {
  padding: 2rem 0 4rem;
}

.container {
  max-width: 768px;
  margin: 0 var(--m-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.button {
  display: inline-block;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--medium);
  color: white;
  background-color: var(--first-color);
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.button__icon {
  font-size: var(--h2);
  margin-left: var(--m-0-5);
  transition: 0.3s;
}
