.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  max-width: 968px;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--medium);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--first-color);
}

.nav__menu {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 2rem 1.5rem 4rem;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 1.5rem 1.5rem 0 0;
  background-color: var(--background-color);
  transition: 0.3s;
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small);
  font-weight: var(--medium);
  color: var(--title-color);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  position: absolute;
  bottom: 0.5rem;
  right: 1.3rem;
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}

.nav__close:hover {
  color: var(--first-color-alt);
}

.nav__buttons {
  display: flex;
  align-items: center;
}
