.testimonial__data,
.testimonial__header {
  display: flex;
}

.testimonial__data {
  justify-content: space-between;
  margin-bottom: var(--m-1);
}

.testimonial__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: var(--m-0-75);
}

.testimonial__name {
  font-size: var(--h3);
  font-weight: var(--medium);
}

.testimonial__client {
  font-size: var(--small);
  color: var(--text-color-light);
}

.testimonial__description {
  margin-bottom: var(--m-2-5);
}

.testimonial__star {
  color: var(--first-color);
}

.swiper .swiper-pagination-testimonial {
  bottom: 0;
}
